<nav class="navbar">

  <div class="logo">
    Market Kacmoli
  </div>

  <button
    class="menu-toggle"
    type="button"
    (click)="toggleMenu()"
    [class.open]="menuOpen"
    aria-label="Hap menunë">

    ☰
  </button>

  <div
    class="nav-links"
    [class.active]="menuOpen">

    <a
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeMenu()">
      Home
    </a>

    <a
      routerLink="/products"
      routerLinkActive="active-link"
      (click)="closeMenu()">
      Products
    </a>

    <a
      routerLink="/offers"
      routerLinkActive="active-link"
      (click)="closeMenu()">
      Offers
    </a>

    <a
      routerLink="/about"
      routerLinkActive="active-link"
      (click)="closeMenu()">
      About
    </a>
    <a
    
  routerLink="/catalog"
  routerLinkActive="active-link"
  (click)="closeMenu()">
  Katalogu
  </a>

    <a
      routerLink="/stores"
      routerLinkActive="active-link"
      (click)="closeMenu()">
      Stores
    </a>

    <a
      routerLink="/contact"
      routerLinkActive="active-link"
      (click)="closeMenu()">
      Contact
    </a>

  </div>

</nav>